$background-dark: rgba(1, 11, 11, 1);
$background-light: rgba(231, 231, 235, 1);
$text-color-main: rgb(151, 82, 82);
$box-shadow-color: rgb(100, 99, 99);
$background-gray: rgb(235, 231, 231);
$border-color: #ddd;
$hover-bg-color: #f5f5f5;